body{
	text-align: center;
	padding-top: 100px;
	background-color: antiquewhite;
}

select, button{
	padding: 8px 16px;
	margin: 8px;
	font-size: 16px;
	background-color: lightgray;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#output{
	margin-top: 40px;
	font-size: 20px;
	font-style: italic;
	color: brown;
}